<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{Head}}</h1>
    <br>

    <form>
        <input placeholder="Enter your Location">
        <button>Search</button>
    </form>
    <p id="messageOne"></p>
    <p id="messageTwo"></p>
</body>
<footer>
    {{>footer}}
    <script src="/js/app.js"></script>
</footer>
</html>